.carousel-item img {

   width: 100%;
    height: 100%;

}
.carousel-item{

height: 600px;
width: 100%;


}

.carousel-caption {
    position: absolute;
    right: -470px;
    top: 300px;


}


.carousel-caption .text-slider-1 {

    color: white;
    font-size: 32px;
    letter-spacing: 1.5px;
    font-weight: 500;
    padding-bottom: 14px;
}

.carousel-caption .slider-btn-1 {


    background-color: rgba(255, 255, 255, 0);
    border-radius: 40px;

    border: 1px solid #e4e4e4;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1.5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 13px;
    padding-top: 13px;
    transition: 0.9s ease;
}

.carousel-caption .slider-btn-1:hover {

    border: 2px solid #fff;
    transform: scale(1.1);
}


.carousel-caption .text-slider-2 {

    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 500;
    padding-bottom: 14px;
    padding-top: 20px;
    margin-top: 10px;
}

.carousel-caption .slider-btn-2 {


    background-color: rgba(255, 255, 255, 0);
    border-radius: 40px;
    border: 1px solid #e4e4e4;
    color: black;
    background-color: #fff;
    font-weight: 200;
    letter-spacing: 1.5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 13px;
    padding-top: 13px;
    transition: 0.3s ease;
}

.carousel-caption .slider-btn-2:hover {

    border: 2px solid #fff;

}

.carousel-caption .text-slider-3 {

    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 500;
    padding-bottom: 14px;
    padding-top: 20px;
    margin-top: 10px;
    padding-left: 30px;
}

.carousel-caption .slider-btn-3 {


    background-color: rgba(255, 255, 255, 0);
    border-radius: 40px;
    border: 1px solid #000000;
    color: #fff;
    background-color: #000000;
    font-weight: 200;
    letter-spacing: 1.5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 13px;
    padding-top: 13px;
    transition: 0.3s ease;
}

.carousel-caption .slider-btn-3:hover {

    border: 2px solid #000000;

}

.section-image {

    margin-top: 50px;
    margin-bottom: 50px;


}

.about-slider {


    padding-left: 40px;
    padding-right: 40px;
    margin: auto;
}

.slider-h1 h1 {

    font-size: 22px;
    color: #414141;
    padding-bottom: 15px;
    letter-spacing: 1.2px;

}



.slider-image img {

    width: 260px;
    height: 250px;
    cursor: pointer;
    transition: 1s ease;

}

.slider-image img:hover {

    transform: translateY(-10px)
}

.about-slider .row {

    padding-left: 110px;
    padding-right: 110px;

}

.about-slider .slider-image h5 {

    padding-top: 15px;
    font-size: 19px;
    font-weight: 400;
}

.about-slider .slider-image h5 span {
    font-weight: 200;
    font-size: 15px;
    padding-left: 6px;
    transition: 0.3s ease;
    cursor: pointer;
}

.about-slider .slider-image h5 span:hover {



    font-size: 14px;

}

.view-all-btn button {
    transform: translateX(480px);
    margin-top: 13px;
    border: none;
    border-radius: 30px;
    background-color: #000000;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: 0.9s ease;
}

.view-all-btn button:hover {

    border: 2px solid #000000;
 


}
